libs/
build
app/build
local.properties
proguard.cfg
netmash.keystore
doc/local/
src/server/vm?/local*.db
src/server/vm?/cyrus.db
src/server/vm?/cyrusconfig.db
src/server/vm?/snapshot.cyrus.db
.gradle
*.class
*.log
,*
.*.swp
build/cyrus.jar
..swh
