bin/
gen/
libs/
build/classes/
local.properties
proguard.cfg
netmash.keystore
doc/local/
src/server/vm?/local*.db
src/server/vm?/netmash.db
src/server/vm?/*.class
src/server/vm?/*.log
src/server/vm2/netmashconfig.json
,*
.*.swp
build/netmash.jar
