
body {
    font-family: Helvetica, Arial, sans;
    margin: 6px;
}

form{
    padding: 0px;
    margin: 0px;
}

form.new-land-form{
    background-color: #fff7f7;
    padding: 10px;
}

form.gui-form{
    padding: 0px;
}

div {
    margin: 0px;
    padding: 0px;
}

table.json{
    width: 100%;
}

table.grid{
    width: 100%;
    table-layout: fixed;
}

td.grid-col{
    vertical-align: top;
    padding: 2pt;
}

td.label{
    text-align: right;
    padding-right: 8pt;
    width: 33%;
}

form.cyrus-form{
    padding: 0.5em;
    margin: 0;
}

textarea.cyrus-raw{
    width: 100%;
    border: 1px solid #ddd;
    padding: 0.5em;
    margin: 0pt 0pt 10pt 0pt;
    line-height: 12pt;
}

pre {
    background-color: #fafaff;
    border: 1px solid #ddd;
    padding: 0.5em;
    margin: 7pt;
    line-height: 12pt;
}

pre.cyrus-readonly{
    background-color: #fafaff;
    border: 1px solid #ddd;
    padding: 0.5em;
    margin: 7pt;
    line-height: 12pt;
    white-space: pre-wrap;
}

pre.cyrus{
    padding: 0.5em;
    margin: 0.5em;
}

div.photo{
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 8px;
    margin-bottom: 8px;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    max-width: 200px;
}

span.object-title{
/*  white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
*/
}

td.raw:first-child {
    background-color: #fafafa;
    width: 15%;
}

td.raw {
    background-color: #ffffff;
    vertical-align: top;
    padding-left: 7px;
    padding-top: 4px;
}

a {
    color: #009;
    text-decoration: none;
}

h2, h3 {
    margin: 8px 0px 3px 6px;
    font-weight: normal;
}

ul {
    margin: 0px 0px 10px 5px;
    padding: 0px;
    border: 1px solid #ddf;
}

li {
    list-style-type: none;
    padding: 0px;
    margin: 4pt;
}

p {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

img {
    max-width: 100%;
}

select.chooser{
    border: 1px solid #ccc;
    padding: 3px;
    font-size: 1.0em;
    width: 100%;
    margin-top: 5pt;
}

input.textfield{
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 0.4em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-color: #ffffff;
    margin-top: 5pt;
    margin-bottom: 5pt;
    width: 100%;
    font-size: 1.0em;
}

input.text{
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    padding-left: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
    width: 75%;
    max-width: 22em;
    font-size: 1.3em;
}

input.button, input.submit{
    font-size: 1em;
    margin: 5pt 0 7pt 5pt;
    width: 95%;
    height: 2.5em;
}

input.checkbox{
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    margin-left: 15pt;
}

label.login-label{
    display: table-cell;
}

p.list{
    margin: 0px 0px 0px 0px;
}

div.list{
    padding: 5px 0px 0px 4px;
    margin-bottom: 10px;
}

div.list div.list p.list{
    margin: 10px 0px 0px 10px;
}

div.object-head {
    border-radius: 5px 5px 0px 0px;
    background-color: #fafafa;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    margin: 0px 0px 0px 0px;
    padding: 4px 12px;
}

div.object-head.open{
    border-bottom: none;
}

.object-head a, .object-head span.open-close {
    float: right;
    margin-left: 8px;
}

@media screen and (max-width: 35em){

body{
    font-size: 1.2em;
    background-color: #ffc;
    height: 92%;
}

.object-head a, .object-head span.open-close {
    font-size: 1.4em;
}

.object-head {
    line-height: 1.5em;
}

}


.object-body {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    background-color: #fdfdff;
}

.object-body .object-body {
    overflow: auto;
}

div.vcard, div.vevent, div.document, div.plain-list, div.document-list, div.supplier, div.product {
    padding: 4pt 4pt;
}

div.left.wide{
    display: table-cell;
    width: 50%;
}

div.right.wide{
    display: table-cell;
    width: 90%;
}

div.vcard {
    padding-bottom: 10pt;
    background-color: #eeeeff;
}

div.vevent{
    background-color: #ffffcc;
}

div.document{
    background-color: #ffffee;
}

div.document-list{
    background-color: #fff7f7;
}

div.supplier{
    background-color: #fff3f3;
}

div.product{
    background-color: #fffafa;
}

div.plain-list{
    background-color: #ffffff;
}

div.info-item {
    padding: 5px 0px 11px 4px;
    border-bottom: 1px solid #AA7;
    margin-bottom: 10px;
}

div span.dtstart, div span.dtend {
    margin-left: 10px;
}

span.icon{
    margin-right: 10px;
}

div.logo{
    margin-top: 10px;
    margin-bottom: 10px;
}

div.light-area{
    position: relative;
    width: 95%;
    height: 250px;
    border-radius: 125px;
    margin: 10px;
}

div.light-highlight{
    position: absolute;
    z-index: 1;
    left: 64%;
    width: 12%;
    top: 21px;
    height: 20px;
    border-radius: 10px;
}

div.text{
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    margin: 10px 0px 10px 0px;
    padding: 8px 12px 7px 12px;
    background-color: #ffffff;
}

p.description, div.adr {
    padding: 5px 0px 5px 4px;
    border-bottom: 1px solid #AA7;
    margin-bottom: 10px;
}

.media {
    display: none;
}

.media:first-child {
    display: block;
}

.media-text {
    background-image: url(grey.png);
    background-repeat: repeat;
    color: #ffffff;
    padding: 10px;
    width: 94%;
}

.media-img {
    height: 20%;
    margin-top: 10px;
}

#content > .media-list > .media > .media-img {
    height: 94%;
}

#content > .media-list > .media > .media-text {
    position:absolute;
    top: 39px;
}

#progress {
    width: 0px;
    background-color: #ced;
    position: fixed;
    top: 5px;
    left: 5px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
}

